/* IMPORTS */

/* default */
@font-face {
	font-family: 'geist';
	font-style: normal;
	src: url("/assets/GeistMono-Light.otf") format("opentype");
}

/* code stuff */
@font-face {
	font-family: 'doto';
	font-style: normal;
	src: url("/assets/Doto-VariableFont_ROND.ttf");
}

/* headers */
@font-face {
	font-family: 'audiowide';
	font-style: normal;
	src: url("/assets/Audiowide-Regular.ttf");
}

/* VARS */
:root {
	--border-default: solid 2px color-mix(in oklab,
			var(--color-text-dark), black);

	--color-text-light: #312;
	--color-text-dark: #fed;
	--color-input: #ffcc00;

	--color-flare-green: hsl(177 54% 56.1%);
	--color-flare-yellow: hsl(66 80% 75.5%);
	--color-flare-red: hsl(349 100% 72%);
	--color-flare-diabled: hsl(0 0% 40%);

	--font-default: 1em geist;
	--font-code: 1em doto;
	--font-family-header: audiowide;
}

/* GLOBAL */
* {
	font: var(--font-default);
}

/* LIGHT AND DARK MODE */

@media (prefers-color-scheme: dark) {
	* {
		color: var(--color-text-dark);
	}

	body {
		background-image: url("/assets/Plastic_Rough_001_basecolor.jpg");
		background-size: 50%;
	}
}

@media (prefers-color-scheme: light) {
	* {
		color: var(--color-text-light);
	}

	body {
		/*background-image: url("/assets/Plastic_004_basecolor.jpg");*/

		background-size: 50%;
	}

	body::before {
		content: "";
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-image: url("/assets/Plastic_004_basecolor.jpg");
		background-size: 30em;
		background-repeat: repeat;
		background-position: center;
		filter: brightness(1.15);
		/* or any other filters */
		z-index: -1;
		pointer-events: none;
	}
}



/* ID */

/* CLASS */

/* ELEMENT */
body {
	width: 100vw;
	max-width: 80vw;
	margin: auto;
	overflow-x: hidden;
	padding-bottom: 0.6em;
}

button {
	/**/
	border-radius: 1em;
	color: var(--color-text-light);
	margin-bottom: 0.6em;
}

button[type=submit] {
	background-color: var(--color-flare-green);
	/*

	border-radius: 1em;
	background: linear-gradient(145deg, #75f0ef, #62cac9);
	overflow: hidden;
	box-shadow: 0.1em 0.1em 0.5em #448b8a,
		-30px -30px 60px #96ffff;
*/
}

button[type=reset] {
	/*background-color: var(--color-flare-red);*/

	border-radius: 150px;
	/*
	background: linear-gradient(145deg, #f0f0f0, #cacaca);
	box-shadow: 30px 30px 60px #8b8b8b,
		-30px -30px 60px #ffffff;
*/
}

button[type=button] {
	/*background-color: var(--color-flare-yellow);*/

	border-radius: 150px;
	background: linear-gradient(145deg, #f0f0f0, #cacaca);
	/*
	box-shadow: 30px 30px 60px #8b8b8b,
		-30px -30px 60px #ffffff;
*/
}

button[disabled=""] {
	/*background-color: var(--color-flare-diabled);*/

	border-radius: 150px;
	background: linear-gradient(145deg, #f0f0f0, #cacaca);
	/*
	box-shadow: 30px 30px 60px #8b8b8b,
		-30px -30px 60px #ffffff;
*/
}

code {
	background-image: radial-gradient(#200 0%, #200 60%, black 61%, black 100%);
	background-size: 0.1em 0.1em;
	background-position-x: -1.5px;
	background-position-y: -0.7px;
	border-radius: 0.6em;
	box-shadow:
		inset -0.1em -0.1em 0.5em #ffffff33, inset 0.2em 0.2em 0.5em #77000033;
	color: var(--color-text-dark);
	display: block;
	font: var(--font-code);
	padding: 0.5em;
}

code * {
	background-image: radial-gradient(#300 0%, #300 60%, black 61%, black 100%);
	background-size: 0.1em 0.1em;
	background-position-x: -1.5px;
	background-position-y: -0.7px;
	color: var(--color-text-dark);
	font: var(--font-code);
}

details {
	border: var(--border-default);
	padding: 0.4em;
}

fieldset {
	border: var(--border-default);
	margin-bottom: 1em;
}

form {
	border: var(--border-default);
	border-radius: 1em;
	padding: 1em;
	width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: hsl(349 100% 64%);
	font-family: var(--font-family-header);
}

h1 {
	font-size: 64px;
}

h2 {
	font-size: 48px;
}

h3 {
	font-size: 38px;
}

h4 {
	font-size: 32px;
}

h5 {
	font-size: 28px;
}

h6 {
	font-size: 24px;
}

input {
	background-image: radial-gradient(#300 0%, #300 60%, black 61%, black 100%);
	background-size: 0.1em 0.1em;
	background-position-x: -1.5px;
	background-position-y: -0.7px;
	font: var(--font-code);

	border-radius: 0.4em;

	box-shadow:
		inset -0.1em -0.1em 0.5em #ffffff33, inset 0.2em 0.2em 0.5em #77000033;
	color: var(--color-input);
	margin-bottom: 0.6em;
	padding-left: 0.6em;
	padding-right: 0.4em;
}

input[type=number] {
	text-align: center;
	width: 6em;
}



input[type=submit] {
	background-color: hsl(177 54% 56.1%);
}

input[type=reset] {
	background-color: hsl(349 100% 72%);
}

input[type=button] {
	background: linear-gradient(145deg, #f0f0f0, #cacaca);
	border-radius: 1em;
	color: var(--color-text-light);
	margin-bottom: 0.6em;

}

input[disabled=""] {
	background-color: hsl(0 0% 50%);
}

legend {
	border: var(--border-default);
	padding-left: 0.4em;
	padding-right: 0.5em;
}


output {
	background-image: radial-gradient(#200 0%, #200 60%, black 61%, black 100%);
	background-size: 0.1em 0.1em;
	background-position-x: -1.5px;
	background-position-y: -0.7px;
	border-radius: 0.4em;

	box-shadow:
		inset -0.1em -0.1em 0.5em #ffffff33, inset 0.2em 0.2em 0.5em #77000033;
	color: var(--color-text-dark);
	display: block;
	font: var(--font-code);
	padding-left: 1em;
	padding-right: 1em;
	width: min-content;
	word-wrap: break-word;
	max-width: 80%;
}

output * {
	color: var(--color-text-dark);
}

p {
	max-width: 60em;
	margin: auto;
}

select {
	color: var(--color-text-light);
}

sub {
	font-size: 0.6em;
}

table {
	border: var(--border-default);
	padding: 0.4em;
}

/* THIS IS FOR THE PIXEL DISPLAY, BUT I FEEL AS IF AN OLD GREEN CRT IS BETTER
textarea {
	background-image: radial-gradient(#300 0%, #300 60%, black 61%, black 100%);
	background-size: 0.1em 0.1em;
	background-position-x: -1.5px;
	background-position-y: -0.7px;
	font: var(--font-code);

	border-radius: 0.4em;
	box-shadow:
		inset -0.1em -0.1em 0.5em #ffffff33, inset 0.2em 0.2em 0.5em #77000033;
	color: var(--color-input);
	margin-bottom: 0.6em;
	padding-left: 0.6em;
	padding-right: 0.4em;
}
*/

textarea {
	background-image: linear-gradient(#000 0%,
			#000 49.99%,
			#151515 50%,
			#151515 99.99%,
			#000 100%);
	background-size: 100% 2.7rem;
	background-attachment: scroll;

}
